
<h1> Articles </h1>

<p>
    This blog is mostly dedicated to producing "pretty" scientific plots using
    <a href="http://matplotlib.sourceforge.net/">Matplotlib</a> and was partly
    inspired by <a href="http://www.gnuplotting.org">Gnuplotting</a>. There are
    plenty of example plots in the
    <a href="http://matplotlib.sourceforge.net/gallery.html">Matplotlib gallery</a>,
    but this blog will (probably) be more focused on tweaking the aesthetics of
    plots.
</p>

<p>
    Occasionally, I may stray into other topics, such as design, presentations,
    scientific publications, LaTeX, fluid mechanics, etc.
</p>
